<div class="container">
  <div class="header d-flex justify-content-between">
    <div class="page-title">
      <h1><%= @article.title %></h1>
      <p class="subtitle">You can post anything you want in here.</p>
      <p class="subtitle">I might delete it.</p>
    </div>
    <div class="flex-item">
      <%= link_to 'Go back', root_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="main-content">
    <%= @article.content %>
  </div>
</div>
