<%= link_to '+ Post', new_article_path, class: "btn btn-outline-secondary new-post" %>
<%= link_to root_path, class: "navbar" do %>
<div class="container">
  <div class="navbar-title">
    <h1>Jeej articles</h1>
  </div>
  <div class="navbar-description">
    <p>You can write anything you want in here</p>
    <p>I might delete it.</p>
  </div>
</div>
<% end %>
