.navbar {
  width: 100%;
  background-color: $white;
  color: $black;
}

.navbar:hover {
  text-decoration: none;
  color: $black;
}

.navbar-title {
  text-decoration: none;
}

.new-post {
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 20px
}
