.navbar {
  width: 100%;
  justify-content: space-between;
  background: white;
  color: $black;
}

.navbar:hover {
  text-decoration: none;
  color: $black;
}

.navbar-title {
  text-decoration: none;
}
